name: Tests

on:
  push:
    branches: [ main ]
    paths-ignore:
    - '**/*.md'
  pull_request:
    branches: [ main ]

jobs:
  coverage:
    name: Code Coverage
    uses: ./.github/workflows/reusable.yml
    with:
      coverage: true
    permissions:
      statuses: write
    secrets: inherit

  regress-clickhouse:
    name: ClickHouse regression
    uses: ./.github/workflows/reusable.yml
    with:
      clickhouse-version: ${{ matrix.version }}
    strategy:
      fail-fast: false
      matrix:
        version:
        - '21.3'
        - '21.8'
        - '22.3'
        - '22.8'
        - '22.9'
        - '22.12'
        - '23.3'
        - '23.6'
        - '23.8'
        - '23.9'
        - '24.12'

  regress-dotnet:
    name: .NET regression
    uses: ./.github/workflows/reusable.yml
    with:
      framework: ${{ matrix.framework }}
    needs:
      - coverage
    strategy:
      fail-fast: false
      matrix:
        framework: ['net8.0', 'net7.0', 'net5.0', 'netcoreapp3.1']

  integration:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs:
      - coverage

    services:
      clickhouse:
        image: clickhouse/clickhouse-server:latest
        ports:
          - 8123:8123
        env:
          CLICKHOUSE_DB: test
          CLICKHOUSE_USER: test
          CLICKHOUSE_PASSWORD: test1234
          CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: '1'
          
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - uses: actions/cache@v4
      name: Cache NuGet
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-nuget-
      
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          3.1.x
          6.x
          8.x
          
    - name: Install GitHubActionsTestLogger
      run: dotnet add ClickHouse.Client.IntegrationTests/ClickHouse.Client.IntegrationTests.csproj package GitHubActionsTestLogger --no-restore

    - name: Test with coverage
      run: dotnet test ClickHouse.Client.IntegrationTests/ClickHouse.Client.IntegrationTests.csproj --framework net8.0 --configuration Release --verbosity normal --logger GitHubActions  /clp:ErrorsOnly /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:SkipAutoProps=true
      env:
        CLICKHOUSE_CONNECTION: Host=localhost;Port=8123;Username=test;Password=test1234
        CLICKHOUSE_VERSION: latest
